# Dependencies
node_modules/
jspm_packages/

# Angular build output
dist/
tmp/
out-tsc/
.angular/
.cache/

# Ionic build output
www/
.ionic/
.ionic-local/
.stencil/

# Capacitor / Cordova generated folders
android/
ios/
platforms/
plugins/
resources/

# Capacitor generated config backups
capacitor.config.*.bak

# Test / coverage
coverage/
.nyc_output/
junit.xml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment files
.env
.env.local
.env.*.local

# IDE / editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# TypeScript
*.tsbuildinfo

# Optional package manager caches
.pnpm-store/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Misc
.sass-cache/

.claude/

# Angular environment files
**/src/environments/environment.ts
**/src/environments/environment.prod.ts
**/src/environments/environment.local.ts

# Angular environment files
**/src/environments/environment*.ts